.project
.classpath
.metadata/
.springBeans
target/
pepco-scraper/data/
.settings/
bin/
pepco-web/src/main/webapp/resources/img/generated
notes
/pepco-scraper/logs/
/pepco-scraper/src/env/prod/resources/twitter.properties
/pepco-scraper/src/env/local/resources/twitter.properties
