#logo a {
	color: black;
	text-decoration: none;
}

#outageSummary {
	text-align: center;
}

#outageSummaryTable {
	width: 100%;
}

#outageSummaryTable tr td:FIRST-CHILD {
	text-align: right;
	padding-right: 1em;
	width: 50%;
}

#outageSummaryTable tr td {
	text-align: left;
	width: 50%;
}

emph.summaryCount {
	font-weight: bold;
}

#reliability-chart h2 {
	text-align: center;
	margin-top: 50px;
}

#reliability-chart {
	margin: 0 auto;
}

.axisLabel {
	text-align: center;
	font-size: 1.2em;
}

#yAxisLabel {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3 );
}