#outageSummary table {
	width: 100%;
}

#outageSummary table tr td:FIRST-CHILD {
	text-align: right;
	padding-right: 1em;
	font-size: 1.5em;
	font-weight: normal;
	width: 50%;
}

#outageSummary table tr td {
	text-align: left;
	font-size: 2em;
	font-weight: bold;
	width: 50%;
}