#logo a {
	color: black;
	text-decoration: none;
}

#outageSummary {
	text-align: center;
}

#outageSummaryTable {
	width: 100%;
}

#outageSummaryTable tr td:FIRST-CHILD {
	text-align: right;
	padding-right: 1em;
	width: 50%;
}

#outageSummaryTable tr td {
	text-align: left;
	width: 50%;
}

.summaryDesc {
	font-size: .7em;
	font-weight: normal;
}

emph.summaryDesc {
	font-size: 1.5em;
	font-weight: normal;
}

emph.summaryCount {
	font-size: 2.3em;
	font-weight: bold;
}

#reliability-chart h2 {
	text-align: center;
	margin-top: 50px;
}

#reliability-chart-placeholder {
	margin: 0 auto;
}

.xAxisLabel {
	text-align: center;
	font-size: 1.5em;
}