#outageRevisions td,#outageRevisions th{
    padding: 5px 10px;
}
#outageRevisions tbody tr{
    color:#aaaaaa;
}
#outageRevisions tbody tr:first-child{
    text-decoration: none;
    color:#000000;
}
.changed{
    text-decoration: line-through;
}