<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="TestHibernate">
  <property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
  <property name="hibernate.connection.url">jdbc:hsqldb:mem:test</property>
  <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
  <property name="current_session_context_class">thread</property>
  <property name="hibernate.hbm2ddl.auto">create-drop</property>
  <property name="hibernate.show_sql">true</property>
  <mapping class="com.pocketcookies.pepco.model.Outage" />
  <mapping class="com.pocketcookies.pepco.model.OutageClusterRevision"/>
  <mapping class="com.pocketcookies.pepco.model.OutageRevision"/>
  <mapping class="com.pocketcookies.pepco.model.AbstractOutageRevision"/>
  <mapping class="com.pocketcookies.pepco.model.ParserRun"/>
  <mapping class="com.pocketcookies.pepco.model.Summary"/>
  <mapping class="com.pocketcookies.pepco.model.OutageArea"/>
  <mapping class="com.pocketcookies.pepco.model.OutageAreaRevision"/>
 </session-factory>
</hibernate-configuration>
